<h1>Find out if your rectangle is a square</h1>

<form action='/square'> #our results page
  <div class="form-group">
    <label for="length">The length of your rectangle </label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="width">The width of your rectangle </label>
    <input id="width" name="width" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-danger">Go!</button>
</form>
